@model MvcCoreVistasParciales.Models.Coche

@{
    ViewData["Title"] = "_CochesDetailsPartial";
}

<h1>Coches Details Partial</h1>

<div>
    <h4>Coche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VelocidadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VelocidadMaxima)
        </dd>
    </dl>
</div>
